.header {
	position: relative;
	padding: 50px 0;

}
.header__content {
	padding: 2rem;
	border-radius: 50px;
	border: 1px solid var(--borderBlack);
	background-color: var(--black2);
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.icon {
	position: absolute;
	top: 0;
	left: 0;
	z-index: -1;
}