.footer {
	margin-top: 150px;
	background-color: var(--black2);
	padding-top: 100px;
	padding-bottom: 50px;
}
.footer__nav {
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 20px;
}
.footer__contact {
	margin: 50px 0;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 50px 0 ;
	border-bottom: 1px solid var(--borderBlack);
	border-top: 1px solid var(--borderBlack);
}
.footer__contact  li a {
	display: flex;
	align-items: center;
	gap: 5px;
}
@media (width < 500px) {
	.footer__contact {
		flex-direction: column;
		gap: 1rem;
	}
}