.register h2 , .register p {
 text-align: center;
}
.register__form {
	margin-top: 5rem;
	display: grid;
	grid-template-columns: repeat(2 , 1fr);
	gap: 1rem;
}
.register__form button {
	width: 100%;
	max-width: 50%;
	grid-column: 1 / 3;
	margin: 0 auto;
}
@media (width < 550px) {
	.register__form {
		display: flex;
		flex-direction: column;
		gap: 10px;
	}
	
}