.faq__content {
	margin-top: 100px;
	display: flex;
	flex-direction: column;
	align-items: baseline;
	gap: 20px;
}
.faq__content details {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: baseline;
}
.faq__content details ul {
	margin-top: 0;
}
.faq__content summary {
	margin: 20px auto;
}
.questions {
	margin-top: 80px;
	width: 100%;
	display: grid;
  grid-template-columns: repeat(2, 1fr); 
  gap: 20px;

}
.questions_item {
	width: 100%;

	padding: 3rem;
	background-color: var(--black);
	border: 1px solid var(--borderBlack);
	border-radius: 20px;
}
.questions_item h4 {
	padding-bottom: 30px;
	text-align: start;
	border-bottom: 1px solid var(--borderBlack);
	color : white ;
}
.questions_item h4 span {
	font-size: 14px;
	margin-left: 10px;
}
.questions_item p {
	margin-top: 30px;
	color: var(--grey);
}

@media (width < 500px) {
	.questions {
		grid-template-columns: 1fr;
	}
	.questions_item {
		padding: 1.5rem;
	}
	.questions_item h4 {
		font-size: 1.5rem;
	}
}
